/**
 * Catppuccin Mocha colorscheme:
 *
 * rosewater  #f5e0dc
 * flamingo   #f2cdcd
 * pink       #f5c2e7
 * mauve      #cba6f7
 * red        #f38ba8
 * maroon     #eba0ac
 * peach      #fab387
 * yellow     #f9e2af
 * green      #a6e3a1
 * teal       #94e2d5
 * sky        #89dceb
 * sapphire   #74c7ec
 * blue       #89b4fa
 * lavender   #b4befe
 * text       #cdd6f4
 * subtext1   #bac2de
 * subtext0   #a6adc8
 * overlay2   #9399b2
 * overlay1   #7f849c
 * overlay0   #6c7086
 * surface2   #585b70
 * surface1   #45475a
 * surface0   #313244
 * base       #1e1e2e
 * mantle     #181825
 * crust      #11111b
 */

* {
    border-radius: 0;
    font-family: cozette;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0); /* transparent */
}

#tags {
    margin-top: 8px;
    margin-left: 8px;
    padding: 1px;
    background-color: #1e1e2e; /* base */
    border: 2px solid #cdd6f4; /* text */
}

#tags button {
    margin: 1px;
    padding: 1px;
    color: #cdd6f4; /* text */
    border: 2px solid #1e1e2e; /* base */
    transition-property: none;
}

#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #1e1e2e;
}

#tags button.focused {
    color: #1e1e2e;
    background-color: #cdd6f4;
    border: 2px solid #1e1e2e;
}

#tags button.occupied {
    border: 2px solid #cdd6f4;
}

#tags button.urgent {
    border: 2px solid #f38ba8; /* red */
}

#tags button.occupied.urgent {
    border: 2px solid #f38ba8;
}

#tags button.focused.occupied {
    color: #1e1e2e;
    background-color: #cdd6f4;
    border: 2px solid #cdd6f4;
}

#clock,
#mode,
#cpu,
#memory,
#network,
#idle_inhibitor,
#temperature {
    padding: 1px 5px;
    margin-top: 8px;
    margin-left: 8px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: 2px solid #cdd6f4;
}

#battery {
    padding: 1px 5px;
    margin-top: 8px;
    margin-left: 8px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: 2px solid #cdd6f4;
    margin-right: 8px;
}

#clock {
    margin-left: 0px;
    margin-right: 0px;
}

#cpu.warning,
#memory.warning {
    border: 2px solid #f9e2af; /* yellow */
}

#cpu.critical,
#memory.critical,
#temperature.critical {
    border: 2px solid #f38ba8; /* red */
}
